<div class="row">
  <div class="col-12">
    <h1>Itinerary</h1>
    <br>
    <h3>Your Date is Planned!</h3>
    <ul id="example-list" class="list-group">
      {{#each examples}}
      <li data-id="{{this.id}}" class="list-group-item">
        <a href="example/{{this.id}}">{{this.text}}</a>
        <button class="btn btn-danger float-right delete">ｘ</button>
      </li>
      {{/each}}
    </ul>
  </div>
</div>