<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Date Night KC</title>
	<!--Google Fonts link-->
	<link href="https://fonts.googleapis.com/css?family=Fascinate&display=swap" rel="stylesheet">
	<!--Bootstrap css link-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!--JQuery link-->
	<script src="https://code.jquery.com/jquery.js"></script>
  <!--JQuery UI for DatePicker-->
  <link rel="stylesheet" href="jquery-ui.min.css">
  <script src="external/jquery/jquery.js"></script>
  <script src="jquery-ui.min.js"></script>
	<!--External Javascript-->
	<script src="js/index.js"></script>
	<!--External CSS-->
	<link rel="stylesheet" type="text/css" href="styles/styles.css" />
	<!--Font Awesome icons-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  	
</head>
	<body>
		{{{ body }}}
	</body>
</html>
