<body class="site">
	<div id="home">
		<div class="container">
			<br>
			<br>
			<div class="row welcome">
				<div class="col-12">
					<h2>Welcome to Date Night KC!</h2>
					<h3>Let's take a quick survey to find out your interests!</h3>
					<br>
					<a href="/survey">
						<button id="surveyBtn" class="btn btn-primary">Survey</button>
					</a>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>
	{{!-- <footer class="footer mt-auto py-2 fixed-bottom">
		<div class="container">
			<span>||</span>
			<i class="fab fa-facebook-square"></i>
			<span>||</span>
			<i class="fab fa-instagram"></i>
			<span>||</span>
			<i class="fab fa-snapchat-square"></i>
			<span>||</span>
			<i class="fab fa-github-square"></i>
			<span>||</span>
		</div>
	</footer> --}}

	<script src="/js/index.js"></script>
	<script src="./js/survey.js"></script>

</body>