<body class="site">
	<div id="home">
		<div class="container">
			<br>
			<br>
			<div class="row welcome">
				<div class="col-12">
					<h2 class="mainTag">Welcome to Date Night KC!</h2>
					<h3 class="mainTag">Let's take a quick survey to find out your interests!</h3>
					<br>
					<a href="/survey/userID={{user.id}}"">
						<button id="surveyBtn" class="btn-lg btn-primary">Survey</button>
					</a>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>

	<script src="/js/index.js"></script>
	<script src="./js/survey.js"></script>

</body>