<body class="surveyImg">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-12 col-sm-8">  
        
        <h1 class="resultsTag">Your results</h1>
        <br>
        <div class="card resCard">
          
            <div class="card-header">
            Judging by your survey, we though you might like:
            </div>
            <div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <h1 id="name"></h1>
                  <h3 class="blockquote-footer" id="description"><cite title="Source Title"></cite></h3>
                  <a id="link"><button class="link">SURE!</button></a>
                  <a id="veto"><button class="veto">VETO</button></a>
                </blockquote>
              </div>
              <img id="IMG" alt="Visit their site">
            </div>
          
        </div>
        <br>
        <br>
      </div>
    </div>
  </div>

  <script src="/js/index.js"></script>
	<script src="/js/results.js"></script>

</body>