<body class="surveyImg">
  <div class="container">
    <br>
    <div class="row ">
      <div class="col-12 col-sm-6">
        <h3>Let's get started planning that perfect date!</h3>
        <h4>Take this quick survey</h4>
        <br>
        <div class="card resCard">
          <div class="card-body">
            <div id="result1"></div>
            <div id="result2"></div>
            <div id="result3"></div>
          </div>
        </div>
        <div class="card netflix">
          <div class="card-body">
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/index.js"></script>
	<script src="/js/results.js"></script>

</body>