<body class="kcImg">
	<div id="home">
		<div class="container">
			<br>
			<br>
			<div class="row">
          <div class="col-12">
            <h2>What people are saying:</h2>
            <br>
            <div class="card reviews">
                <div class="card-header">
                  Reviews:
                </div>
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p>Date Night KC saved our marriage! We get stuck in a rut going to the same places over and over again. The great new ideas spiced up our lives! Thanks DNKC!</p>
                    <footer class="blockquote-footer">Someone famous in KC<cite title="Source Title"></cite></footer>
                  </blockquote>
                  <br>
                  <blockquote class="blockquote mb-0">
                    <p>It was the biggest and best date ever! You wouldn't believe it!</p>
                    <footer class="blockquote-footer">Trump<cite title="Source Title"></cite></footer>
                  </blockquote>
                  <br>
                  <blockquote class="blockquote mb-0">
                    <p>We loved the new ideas! Thanks Date Night KC!</p>
                    <footer class="blockquote-footer">Someone not-so famous in KC<cite title="Source Title"></cite></footer>
                  </blockquote>
                </div>
              </div>
          </div>
        </div>
		</div>
  </div>

	<script src="/js/index.js"></script>
	<script src="./js/survey.js"></script>

</body>