.list-group-item {
  line-height: 2.5;
}


.site{
  background: url(./img/alex-iby-371384-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 100%; 
  background-color: rgb(23, 17, 17);
}

header{
  margin: 1% 0 1% 3%;
}

.nav-link{
  color: white;
}

.logo{
  color: white;
  float: left;
}

#tagline{
  margin: 2em 0;
  text-align: center;
  color: white
}

.survey,h2,h3{
  color: white;
}
.footer{
  color:blue;
  font-size: 2em;
  text-align: center;
}

.kcImg{
  background: url(./img/kc-skyline.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
