.list-group-item {
  line-height: 2.5;
}

.site{
  background: url(./img/alex-iby-371384-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

header{
  margin: 1% 0 1% 3%;
}

.nav-link{
  color: white;
}

#logo{
  color: white;
  float: left;
}

#tagline{
  margin: 2em 0;
  text-align: center;
  color: white
}
